.intro{

    height:70px; 
    width: 100%;
    margin: auto;
    padding-top: 0;
    background-color:#aaaaaa;
}
.text{
    color: aliceblue;
    font-weight: bold;
}

.div2{
    height:50px; 
    background-color:#cccccc;

}
@font-face {
    font-family: myFirstFont;
    src: url(CooperHewitt-Medium.otf);
    font-weight: bold;
}

body {
    font-family: myFirstFont;
  }